html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
#web-view {
    position:absolute;
    bottom:0;
    display:inline-flex;
    width:100%;
    height: calc(100% - 35px);
}
#titlebar {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    color: #FFF;
    position: absolute;
    top: 0;
    width: 100%;
    height: 35px;
    background: #1f2532;
}
#window-controls {
    display: grid;
    grid-template-columns: repeat(3, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-family: "Segoe MDL2 Assets";
    font-size: 10px;
}
#window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#window-controls #min-button {
    grid-column: 1;
}
#window-controls #max-button, #window-controls #restore-button {
    grid-column: 2;
}
#window-controls #close-button {
    grid-column: 3;
}  
#window-controls {
    -webkit-app-region: no-drag;
}
#window-controls .button {
    user-select: none;
    cursor: default;
    opacity: 0.8;
}
#window-controls .button:hover {
    background: rgba(255,255,255,0.2);
    opacity: 1;
}
#window-controls #close-button:hover {
    background: #E81123;
}
#window-controls #restore-button {
    display: none;
}  
#titlebar #drag-region {
    display: grid;
    grid-template-columns: auto 138px;
    height: 100%;
}
#window-title {
    grid-column: 1;
    display: flex;
    align-items: center;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    margin-left: 8px;
    height: 100%;
    overflow-x: hidden;
}
#window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}    